@font-face {
  font-family: "Netflix Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Regular"), url("../fonts/NetflixSansRegular.woff") format("woff");
}

@font-face {
  font-family: "Netflix Sans Icon";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Icon"), url("../fonts/NetflixSansIcon.woff") format("woff");
}

@font-face {
  font-family: "Netflix Sans Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Thin"), url("../fonts/NetflixSansThin.woff") format("woff");
}

@font-face {
  font-family: "Netflix Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Light"), url("../fonts/NetflixSansLight.woff") format("woff");
}

@font-face {
  font-family: "Netflix Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Medium"), url("../fonts/NetflixSansMedium.woff") format("woff");
}

@font-face {
  font-family: "Netflix Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Bold"), url("../fonts/NetflixSansBold.woff") format("woff");
}

@font-face {
  font-family: "Netflix Sans Black";
  font-style: normal;
  font-weight: normal;
  src: local("Netflix Sans Black"), url("../fonts/NetflixSansBlack.woff") format("woff");
}

:root {
  --red: #e50914;
  --black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Netflix Sans Regular";
  color: white;
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url("../img/capa.jpg");
  background-size: cover;
  background-position: center;
}

header .container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

header .logo {
  margin-right: 40px;
  width: 100px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
  transition: 0.5s;
}

.filme-principal {
  font-size: 16px;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  justify-content: space-evenly;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 20px;
}

.titulo {
  width: 100%;
}

button.botao1 {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  color: black;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.botao1:hover {
  background-color: rgba(215, 215, 215, 0.9);
  transition: 1s ease all;
}

.botao2 {
  background-color: rgba(215, 215, 215, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  font-weight: 600;
}

.botao2:hover {
  background-color: rgba(215, 215, 215, 0.4);
  transition: all 0.2s ease-out;
}

.botoes i {
  margin-right: 10px;
}

.container1,
.container2 {
  padding: 3%;
}

.container2 {
  justify-content: center;
}

.container1 {
  padding: 20px 30px;
}

.filme-principal .container2 {
  width: 40%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrossel-filmes {
  margin-top: 5px;
  display: block;
}
